.config-input-container {
  min-width: 140px; }
  .config-input-container .low {
    width: 140px; }

.config-input {
  border: 1px solid #b4b4b4;
  border-radius: 7px;
  max-width: 140px;
  padding: 8px 10px;
  outline: none; }
  .config-input.low {
    width: 140px; }
  .config-input.min {
    width: 65px; }

.save-config-btn {
  position: fixed;
  bottom: 15px;
  right: 15px; }
