.requests .selector-container .cell-container {
  flex-wrap: wrap; }

.requests .selector-container .cell {
  user-select: none;
  transition: 0.1s ease;
  width: 155px;
  height: 35px;
  border: 1px solid #8492A6;
  border-radius: 5px;
  color: #AAB4C2; }
  .requests .selector-container .cell.low {
    width: 85px; }
  .requests .selector-container .cell.selected {
    background-color: #CB6133;
    border: 1px solid #CB6133;
    color: #fff; }

.requests .check-container {
  transition: 0.2s ease; }
  .requests .check-container.hide {
    margin-top: -100%;
    opacity: 0;
    pointer-events: none; }
  .requests .check-container .check-total {
    min-height: 180px;
    max-height: 180px;
    background-color: #CB6133;
    transition: 0.2s ease; }
    .requests .check-container .check-total .confirm-request {
      background-color: #fff;
      width: 80px;
      height: 80px; }
      .requests .check-container .check-total .confirm-request img {
        width: 30px;
        height: 30px; }

.requests .sets-selection .green-plus {
  width: 25px;
  height: 25px; }

.requests .sets-selection .mini-btn {
  width: 20px;
  height: 20px; }

.select-set {
  background-color: #fff; }
  .select-set .sel-set-cell {
    border-bottom: 1px solid #c2c2c2; }
    .select-set .sel-set-cell:last-child {
      border: none; }

.request-details {
  background-color: #fff; }

.date-input {
  border: 1px solid #b4b4b4;
  border-radius: 7px;
  width: 150px;
  padding: 10px;
  outline: 0; }
  .date-input::placeholder {
    color: #adadad; }
