@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:400,500,700,900&display=swap');

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a{text-decoration: none;}

img{
    user-select: none;
}

.mdi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: rgb(201, 201, 201);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(110, 110, 110); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(90, 90, 90); 
}

.main-container{
    margin-top: 66px;
}

.message-modal{
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 15px;
    right: 15px;
    height: 55px;
    opacity: 0; //0
    display: none; //none
    background-color: rgb(255, 146, 82);
    border-radius: 7px;
    pointer-events: none;
    z-index: 9999;

    .modal-status{
        width: 40px;
        height: 40px;
        background-color: #fff;
        
        img{
            width: 20px;
            height: 20px;
        }
    }

    &.enabled{
        display: flex;
        animation: message-modal 3s ease;
    }
}

@keyframes message-modal{
    0%{
        transform: translateY(0px);
        opacity: 0;
    }
    10%{
        transform: translateY(-30px);
        opacity: 1;
    }
    90%{
        transform: translateY(-30px);
        opacity: 1;
    }
    100%{
        transform: translateY(-60px);
        opacity: 0;
    }
}

.Sidebar{
    min-width: 300px;
   
    img{
        //width: 96px;
        height: 95px; 
    }

    .side-container{
        min-width: 300px;
        border-right: 1px solid #D3DCE6;
    }

    .category{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding: 24px 19px;
        border-top: 1px solid #D3DCE6;
        border-bottom: 1px solid #D3DCE6;

        &.no-bottom{
            border-bottom: none;
        }

        img{
            width: 10px;
            height: 6px;
            transform: rotate(180deg)
        }
    }

    .dropdown-items{
        background-color: #F9FAFC;
        ul{
            padding: 12px 35px;
        }
    }
}

.Header{
    width: calc(100% - 350px);
    height: 65px;
    background-color: #fff;
    border-bottom: 1px solid #D3DCE6;
    border-left: 1px solid #D3DCE6;
}

.header-avatar{
    width: 50px;
    height: 50px;
}

.header-search{
    width: 16px;
    height: 16px;
}

.header-search-input{
    transition: 0.2s ease;
    width: 65px;
    padding: 8px 4px;
    border: none;
    border-bottom: 1px solid transparent;

    &::placeholder{color: rgb(143, 147, 153);}
    
    &:focus{
        width: 200px;
        border-bottom: 1px solid #D3DCE6;
    }
}

.float-btn{
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-color: #d64c10;
    bottom: 15px;
    right: 15px;

    .plus{
        width: 26px;
        height: 26px;
    }

    .edit{
        width: 19px;
        height: 19px;
    }

    .trash{
        width: 27px;
        height: 27px;
    }
}

.set-area{
    position: fixed;
    width: calc(100% - 300px);
    height: calc(100% - 65px);
    bottom: 0;
    right: 0;
    transition: 0.15s ease;

    &.inactive{
        pointer-events: none;
        opacity: 0; 
    }
}

.sorting{
    right: 0;
    transition: 0.2s ease;
    background-color: #d64c10;
    padding: 16px 12px;
    border-radius: 10px;
}